html{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 12px; */
}

body {
    line-height: 1.4;
}

#incomelevel, #theft {
    padding: 0;
    width: 100%;
    border: 0;
    overflow: hidden;
}

/* section {
    margin: 10px 20px 0px;
} */

.wrapper{
    display: grid; 
}

.header {
    display: block;
    grid-auto-columns: 100%;
    justify-items: center;
    background: rgb(223, 231, 241);
    margin: 0px;
    /* padding: 20px 0px 20px; */
}

.maps{
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    margin: 0px
}

/* Navigation */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.66%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 5px;
    text-align: center;
    background-color: green
}

#theft, #incomelevel, #accidents, #population  {
    background-color: blue;
}